* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 20px;
}

h1,
p {
  margin-bottom: 12px;
}

.dice-1,
.dice-2 {
  width: 50px;
}

.game {
  display: flex;
  gap: 8px;
  align-items: center;
}

.container {
  max-width: 950px;
  margin: 200px auto;
  text-align: center;
}

.hidden {
  display: none;
}
